.collage {
    width: 100%;
}

.title {
    @media screen and (max-width: 630px) {
        font-size: 3em;
    }
}

.subtitle {
    @media screen and (max-width: 630px) {
        font-size: 2em;
    }
}

.git {
    transition: transform 0.5s;
}

.git:hover {
    transform: scale(1.1);
}

.git:active {
    transition: transform 0.1s;
    transform: scale(0.9);
  }