.card {
    width: 100%;
    height: auto;
    background-color: rgb(2, 0, 36);
    color: white;
}

.title {
    font-size: 2em;
    margin-top: 2em;
}

.achievements {
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imgs {
    width: 35%;
    margin: 5%;
}